<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <title>Shows</title>
</head>
<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <section>
      <h2>Search by Title or Author</h2>
    </section>
    <main>
      <ul>
        <% books.forEach(book => { %>
          <li>
            <img src=<%=book.image %>>
            <h3><%= book.title %></h3>
            <p><em><%= book.author %></em></p>
            <p><%= book.description %></p>
          </li>
        <% }) %>
      </ul>
    </main>

</body>
</html>