<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <title>Book App</title>
</head>
<header>
  <h1>Best Books!</h1>
</header>
<body>
  <main>
    <h3>Search by Title or Author</h3>
    <div id="form">
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="Enter a title or author" required>
      </div>
      <fieldset id="title-field">
        <label for="title">
          <div id="title">
          <span>Title</span>
          <input type="radio" name="search" value="title" required>
          </div>
        </label>
      </fieldset>
      <fieldset id="author-field">
        <label for="author">
          <div id="author">
          <span>Author</span>
          <input type="radio" name="search" value="author" required>
          </div>
        </label>
      </fieldset>
      <footer>
        <button type="submit">Search the Google Books API</button>
      </footer>
    </form>
  </main>
</body>
</html>