/* base */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #777;
}

header {
  color: #eee;
  background-color: #000;
  padding: 20px;
  text-align: left;

}

h1 {
  font-size: 200%;
}

h2 {
  color: #eee;
  font-size: 130%;
}

main {
  background-color: #777;
  min-height: 100%;
  /* margin-bottom: -50px; */
}

h3 {
  font-size: 120%;
  color: #eee;
  text-shadow: 1px 1px #111;
}

footer {
  background-color: #000;
  height: 50px;
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
}
