/* modules */

textarea.text-input {
  height: 140px;
  padding: 20px;
}

button {
  background-color: #111;
  color: #eee;
  border: #111;
  cursor: pointer;
}

li button {
  width: 200px;
}

.radio-button {
  margin-left: 20px;
}

.detail {
  background-color: #bbb;
  padding: 30px 70px 30px 70px;
  margin: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #555;
}

li img, li p, .detail img, .detail p {
  margin-bottom: 20px;
}

em {
  font-style: italic;
}

li h3, .detail h3 {
  margin-bottom: 10px;
}

li p, .detail p{
  color: #333;
}

li p:nth-child(3) {
  font-size: 90%;
}

li p:last-child, .description {
  text-align: left;
  background-color: #ddd;
  padding: 20px;
  border-radius: 5px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #555;
  margin-top: 10px;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #eee;
  margin: 6px 0;
}

#menu li {
  padding: 5px;
}

#menu li:hover {
  background-color: rgba(40, 40, 40, 0.9);
}

#menu a {
  display: block;
  text-decoration: none;
  color: #eee;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 200px;
  margin: 0 10px;
}

.cancel-container {
  margin-top: 20px;
}

.cancel-container a {
  text-decoration: none;
  color: darkred;
}

.cancel-container a:hover {
  color: red;
}