<header>
  <!-- <img src="/images/hamburger.png" alt=""> -->
  <div id="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <h1><a href="/">Best Books!</a></h1>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/new">Search Google Books API</a>
    </li>
  </ul>
</header>